<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}UX BPMN demo{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid d-flex flex-column vh-100 px-0">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">UX BPMN demo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Viewer
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('default_viewer') }}">
                                            Default
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('navigated_viewer') }}">
                                            Navigated
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('default_viewer_with_flow') }}">
                                            With flow and current activity
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Modeler
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('default_modeler') }}">
                                            Default
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('default_modeler_without_buttons') }}">
                                            Default (without buttons)
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('camunda_modeler') }}">
                                            Camunda
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row flex-grow-1">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
